.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
  }
  .formContainer {
    width: 400px;
    margin: 0 auto 0 auto;
    padding: 32px;
    background: rgb(74, 147, 219);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
  .input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgb(235, 235, 242);
    font-size: 0.9rem;
  }
  .input option {
    margin-top: 20px;
  }